---
---
<!DOCTYPE HTML>
<html>
<head>
{% include components/head.html %}
</head>
<body class="body">
    {% include components/sidebar.html %}
    <div id="content">
    {% include components/topmenu.html %}
        <section class="horizontal-scroll submenu">
            <div class="item  itemall itemactive">ALL</div>
            <div class="item Bruin  ">BRUIN</div>
            <div class="item Blond ">BLOND</div>
            <div class="item Amber">AMBER</div>
            <div class="item Pils">PILS</div>
        </section>
 
    
        <div class="maincontent">
            <div id="lc" class="row"></div>
        </div>
    
    </div>
</body>
    <script src="jquery.js"></script>
    <script src="home.js"></script>
    <script src="main.js"></script>
    
    
</html>
