---
---
<!DOCTYPE HTML>

<html>
<head>

{% include components/head.html %}
</head>
    <body class="body">
<!-- Navigation -->
{% include components/menus.html %}
<!-- Content panel -->
<div id="content">
	<div class="menu-trigger"></div>
	<div class="mainmenu">
    <div class="titel">Hopper</div>
    </div>



  <div id="map-canvas">

 

 

    </div>

    
</div>
        
       
        
        
        </body>
     <script src="jquery.js"></script>
    
    	<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDJ0SS5STf9k58qNrNR5p8NgL9_Zq9aqbw&callback">
</script>
    <script src="main.js"></script>
    <script src="taxi.js"></script>
</html>
