<nav id="slide-menu">
    <div class="fotohoofd">
        <img id="pic1" src="">
    </div>
    <div class="naamprofiel"> 
        <div id="voornaam" class="voornaam">Voornaam
        </div>
        <div id="achternaam" class="achternaam">achternaam
        </div> 
    </div>
	<ul>
		<li class="timeline">
            <div class=" fa fa-home"></div>
             <a class="verwijzing" href="home.html">Home</a>
        </li>

		<li class="calendar">
            <div class=" fa fa-car"></div>
             <a class="verwijzing" href="taxi.html">Taxi</a>
        </li>
        <li class="sep settings">
            <div class=" fa fa-user"></div>
            <a class="verwijzing"href="profile.html">Account</a>
        </li>
		<li id="logout" class="logout">
            <div class=" fa fa-sign-out"></div>
            <a class="verwijzing">Logout</a>
        </li>
	</ul>
</nav>