
<!DOCTYPE HTML>

<html>
<head>
  <link rel="stylesheet" type="text/css" href="main.css">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
	<body class="landing">
	
	<div class="container">
        <div class="landinglogo">
            <img class="logo" src="img/hh.svg">
        </div>
		<h1 class="hey">Hopper</h1>
 
       
		
		<form class="form">
            
			<input class="placeholder" id="userName" type="text" value="" placeholder="Username">
            
			<input class="placeholder" id="userPw" type="password" value="" placeholder="Password">
            
			<button class="loginbutton" type="button" id="login-button">Login</button>
            <div id="wrong" class="wrong">
                Wrong login.
                    </div>
        
		</form>
	</div>
	


	</body>
    <script src="jquery.js"></script>
    <script src="default.js"></script>
    
    
</html>
